
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local virtualenvs
.venv/
venv/

# Test database (created by manage_test.py for the wallet/wager apps)
test_db.sqlite3

# hypothesis property-test cache
.hypothesis/


